main {
    background-image:  url("assets/Home.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 1.5rem 5rem 1.5rem;
    flex: 1;
    width: 500px;
    display: flex;
    flex-direction: column;
    div {
        display: flex;
        justify-content: center;
    }
}


.name-item {
    padding: 15px ; 
    background-color: #F9EDD7;
    border-bottom: 1px solid #808080;
    width: 50%;
    min-width: 300px;
}
.name-item:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.name-item:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.btn {
    @apply font-bold py-2 px-4 rounded;
    width: 140px;
  }
.btn-blue {
    @apply bg-blue-500 text-white;
}
.btn-blue:hover {
    @apply bg-blue-700;
}